{
  "presets": [
    ["env", {
      "targets": { "node": 7 },
      "useBuiltIns": true
    }],
    "stage-1",
    "react"
  ],
  "plugins": ["add-module-exports", "dynamic-import-webpack"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["transform-decorators-legacy", "dev-expression"]
    },
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-es2015-classes",
        ["flow-runtime", {
          "assert": true,
          "annotate": true
        }]
      ]
    }
  }
}
