@import "~tachyons/css/tachyons.css";
@import '~font-awesome/css/font-awesome.css';
@import "~roboto-fontface/css/roboto-slab/roboto-slab-fontface.css";
@import "~draft-js-static-toolbar-plugin/lib/plugin.css";
@import '~draft-js-linkify-plugin/lib/plugin.css';
@import '~draft-js-inline-toolbar-plugin/lib/plugin.css';

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color:#333333;
}
a {
  color: #357edd;
}
p {
  line-height: 1.5em;
}
.paragraph {
  width: 600px;
}
.btn {
  background-color: #357edd;
  border-radius: 0.25rem;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.yourReadings {
  visibility: hidden;
}

.search-input input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px #eee solid;
}

.search-input input:focus {
  outline:none;
  border: 1px #357edd solid;
}
button:focus {
  outline: none;
}

.__mobiledoc-card {
  display: inline-block;
}

/*tachyons overwrite*/
.serif {
  font-family: 'Roboto-Slab', serif;
}
.shadow-1 {
  box-shadow: 0 0 4px 2px rgba( 0, 0, 0, .07 );
}

.notes-editor blockquote {
  font-family: 'Roboto Slab', serif;
  padding-left: 2rem;
  border-left-style:solid;
  border-left-width:1px;
  border-width:.25rem;
  border-color: #357edd;
  margin: 0;
  font-size:1.25rem;
  line-height:1.5;
  max-width:30em;
  margin-botton: 1rem;
}
